.container {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  background: white;
  transition: 0.3s;
  text-align: center;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.story-container {
  padding: 20px;
}

.story-container h1 {
  margin-bottom: 20px;
}

h1 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.tabs {
  display: flex;
  justify-content: space-around;
}

.tabs button {
  padding: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  background: #ddd;
  border-radius: 5px;
}

.tabs button:hover {
  background: #bbb;
}

.content {
  margin-top: 20px;
}

.card-image {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
